body {
  height: 100%;
  margin: 2%;
  border: 10%;
  border-style: solid;
  border-color: #4a6483;
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
  background: url(./images/background_2.avif);
  background-size: cover;
}



/* Create a top navigation bar with a black background color  */
.navbar {
  background-color: #61b5e1;
  position: sticky;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.navbar a.split {
  float: right;
  background-color: #4a6483;
  color: white;
}

.navbar a.shop {
  background-color: #aed1eb;
  color: black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 70%;
  padding:  5%;
  width: 50rem;
  margin: 5%;
  border-radius: 50%;
}

.image2 {
  width: 500px;
  margin: 2.5%;
  border: 1%;
  padding: 0%;
  justify-content: center;
  height: auto;
}

h2 {
  margin: 1.5%;
  border: 10%;
  padding: 0%;
  display: flex;
  justify-content: center;
}

img {
  width: 250px;
}

.logo {
  width: fit-content;
  background-size: contain;
}

.iframe {
  margin: 5%;
  border: 5%;
  padding: 5%;
  height: auto;
  display: flex;
  justify-content: center;
}

p {
  line-height: 1.5;
}

#class {
  background-color: bisque;
}

.hero-section {
  height: 100%;
  background: url("./images/hero2.avif") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-text {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1em;
  font-size: 2.5em;
  font-weight: 800;
  letter-spacing: 0.2em;
  font-family: arial;
  text-transform: uppercase;
  border: 4px solid var(--text-color);
  transform: translateY(-50%) translateX(-50%);
}

width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1em;
    font-size: 2.5em;
    font-weight: 800;
    letter-spacing: 0.2em;
    font-family: arial;
    text-transform: uppercase;
    border: 4px solid var(--text-color);
    transform: translateY(-50%) translateX(-50%);

.icon2 {
  border-radius: 50% 50% 0 0;
  height: 200px;
  width: 600px;
}

.gmail, .linkedin, .github, .youtube, .instagram {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

header {
  position: absolute;
  height: 80px;
  width: 100%;
  z-index: -1;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #61b5e1;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #efefef;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.lamp-one {
  text-transform: uppercase;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item:nth-child(3) {
  border-top: 1px solid #E1E8EE;
  border-bottom: 1px solid #E1E8EE;
}

.buttons {
  position: relative;
  padding-top: 50px;
  margin-right: 60px;
}

.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}

.delete-btn {
  width: 18px;
  height: 17px;
  background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;
}

.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url('twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: right;
  }
}

.image {
  margin-right: 50px;
}

Let’s add some basic style to product name and description. .description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}

.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 50px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.minus-btn img {
  margin-bottom: 3px;
}

.plus-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline: 0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image img {
    width: 50%;
  }

  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }

  .buttons {
    margin-right: 20px;
  }
}

.img-hover-zoom {
  height: 300px;
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.5);
}